/**
 * @file DS-PROMO /
 * Created: 20.05.14 / 19:51
 */
@import "common-less";

* { box-sizing: border-box; }

.stash { display: none; }

.stash-force { display: none !important; }

.hidden { display: none; }

.open { display: block !important; }

.n-imp { color: #bbb; }

.hint { cursor: help; border-bottom: 1px dashed; }

.dia { display: none; }

.testing-shut { background: rgba(255, 0, 0, .3); }

h1, h2, h3 { .hn; }

.animated {
  @ani-dur: 8s;
  animation-duration: @ani-dur;
  -webkit-animation-duration: @ani-dur;
  @ani-del: 0s;
  animation-delay: @ani-del;
  -webkit-animation-delay: @ani-del;
}

/**
 * Block element (hide overflow, hide scrolls)
 * For example, using html.fixed for modals
 */
.fixed {
  padding: 0;
  margin: 0;
  overflow: hidden !important;
}

/**
 * Links
 */
.xtrnl-lnk { }
a[href^="//"]:not(.local-link), a[href^="http://"]:not(.local-link), a[href^="https://"]:not(.local-link) {.xtrnl-lnk;}

.xtrnl-lnk {
  background: url(/vendor/a-x-/frontend/resources/neo-black-xtrnl-web2.svg) right no-repeat;
  background-size: contain;
  padding-right: 1.5em;
  padding-left: .8em;
  &:hover {
    background-image: url(/vendor/a-x-/frontend/resources/neo-blue-xtrnl-web2.svg);
  }
}

.question-link {
  @size: 60px;
  .a-prevent-default;
  color: cornflowerblue;
  font-size: @size;
  -webkit-font-smoothing: antialiased;
  font-family: 'MyriadPro-light';
  font-style: normal;
  display: inline-block;
  width: @size;
  height: @size;
  border: 1px solid;
  line-height: @size;
  border-radius: 50%;
  .transition(all, 0.2s);
  position: absolute;
  left: 40vw;
  margin-top: -10px;
  margin-left: -1px;
}
.question-link:hover {
  background: cornflowerblue;
  color: white !important;
}

//
// twitter like behaviour
// FOOTER LINKS BEHAVIOR & STYLE
footer a[href^="//"]:not(.local-link), a[href^="http://"]:not(.local-link), a[href^="https://"]:not(.local-link) {
  background-image: url(/vendor/a-x-/frontend/resources/neo-gray-xtrnl-web2.svg);
  color: gray;
}

footer:hover a[href^="//"]:not(.local-link), a[href^="http://"]:not(.local-link), a[href^="https://"]:not(.local-link) {
  background-image: url(/vendor/a-x-/frontend/resources/neo-black-xtrnl-web2.svg);
  color: black;
}

footer a[href^="//"]:not(.local-link):hover, a[href^="http://"]:not(.local-link):hover, a[href^="https://"]:not(.local-link):hover {
  background-image: url(/vendor/a-x-/frontend/resources/neo-blue-xtrnl-web2.svg);
  color: blue;
}

menu ul, nav ul {
  //  .ul-nav(5vh);
}

/**
 * Overlaid dummy
 */
.shut {
  position: fixed;
  text-align: center;
  font-size: xx-large;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  padding-top: 40vh;
  top: 0;
  left: 0;
  text-shadow: 0 0 1px white, 0 0 20px white;
  background: rgba(255, 255, 255, .3);
}

.bg-blur { .filter(blur(1px) grayscale(100%)); }

.panels {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 0;
  height: 0;
  .panel {
    margin: 10vh 10vw;
    width: 80vw;
    height: 80vh;
    background: rgba(255, 255, 255, 0.98);
    border: 2px solid #c0c0c0;
    border-radius: 6px;
    padding: 5vw;
    display: none;
    box-shadow: 0 0 10px 5px white;
  }
}

form[action]:not(.form-prevent-common) {
  padding: 5vh 5vw;
  width: 100%;
  &.form-sm {
    padding: 2vh 0;
  }
  label:not(.label-prevent-default) {
    .display-flex;
    .justify-content(flex-start);
    .flex-flow();
    width: 100%;
    margin-bottom: 1ex;
    font-weight: normal;
    input, select {
      .flex(2 0 auto);
    }
    input[type="checkbox"], input[type="radio"] {
      .flex(0 0 30px);
    }
    > span {
      text-align: right;
      padding-right: .8em;
    }
    & > * {
      display: block;
      .flex(1);
    }
  }
}

.animation.status {
  width: 20px;
  height: 20px;
  background-image: url('/vendor/a-x-/frontend/resources/loader.svg');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  position: absolute;
  display: inline-block;
  margin: 5px;
  transition-property: opacity;
  transition-duration: 1s;
}

.ui-pnotify-history-container {
  display: none;
}

/**
 * @url http://css-tricks.com/snippets/css/clear-fix/
 */
.group:after {
  content: "";
  display: table;
  clear: both;
}

.thumbnail-image{
  padding: .5em;
  max-width: 25%;
  height: auto;
 &.thumbnail-left {
   margin-right: .5em;
   float: left;
 }
  &.thumbnail-right {
    margin-left: .5em;
    float: right;
  }
}

code, kbd, pre, samp {
  font-family: monospace;
  font-size: 1em;
  background: #eee;
  border-radius: 6px;
  padding: 0 .5em;
  white-space: nowrap;
  border: 1px solid silver;
}

.review-block {
  font-family: 'MyriadPro-Light';
  .author-face {
    float: left;
    margin: .5vw 1vw 0 0;
  }
}

.alignright {
  margin: 0 0 0 10px;
  float: right;
}
.alignleft {
  margin: 0 10px 0 0;
  float: left;
}
.aligncenter {
  text-align: center;
}

/**
 * <b class="asterisk-mark">*</b>
 */
.asterisk-mark {
  margin-right: -.4em;
}

.hr { width: 100%; height: 1px; background-color: #e4e4e4; margin: @hr-margin 0; }
.elegant-slim { // body option class
  .html5 { // body option class
    hr {.hr;}
  }
}

