/**
 * Apple like heading font
 */
//@import '/vendor/a-x-/frontend/common-icons/style.css'; // common icon set

@font-face {
    font-family: "MyriadPro-Light";
    src:
        url("/vendor/a-x-/frontend/fonts/MyriadPro-Light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MyriadPro-Regular";
    src:
        url("/vendor/a-x-/frontend/fonts/MyriadPro-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/**
 * Apple like text font
 */
@font-face {
    font-family: "LucidaSans-Unicode";
    src: url("/vendor/a-x-/frontend/fonts/Lucida_Sans_Unicode.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/*
 * Use locally!

/**
 * Damina logo font


@font-face {
    font-family: "Mergim-5";
    src: url("/vendor/a-x-/frontend/fonts/megrim-5.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

*/

/*
 * Use locally!


/**
 * For numbers


@font-face {
  font-family: 'Number-comfortaa';//Comfortaa';
  font-style: normal;
  font-weight: 300;
  src: local('Comfortaa Light'), local('Comfortaa-Light'), url('/vendor/a-x-/frontend/fonts/Comfortaa-Light.woff') format('woff');
}


/**
 * For quotations


@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 400;
  src: local('Philosopher Italic'), local('Philosopher-Italic'), url(/vendor/a-x-/frontend/fonts/Philosopher.woff) format('woff');
}
*/
